<p>Cadastro de Usuário</p>

<form class="row g-3" [formGroup]="usuarioFormGroup">
      
    <input type="hidden" id="empresa" name="empresa" formControlName="empresa">
      <div class="col-2">
        <label for="id" class="form-label">ID</label>
        <input type="text" class="form-control" id="id" readonly name="id" placeholder="ID" formControlName="id" (ngModel)="usuarioFormGroup.get('id')">
      </div>
      <div class="col-5">
        <label for="nomeFantasia" class="form-label">Nome Fantasia</label>
        <input type="text" maxlength="100" class="form-control" id="nomeFantasia" name="nomeFantasia"  formControlName="nomeFantasia">
        <div *ngIf="usuarioFormGroup.get('nomeFantasia')?.errors" style="font-size: 8px;color: brown;">* Acesso</div>
      </div>
</form>
<table class="table">
    <thead>
      <tr>        
        <th scope="col">ID</th>               
        <th scope="col">Nome</th>
        <th scope="col">Editar</th>
        <th scope="col">Deletar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let c of lista">
        <td>{{c.id}}</td>
        <td>{{c.login}}</td>
        <td><button type="button" class="btn btn-primary">Editar</button></td>
        <td><button type="button" class="btn btn-danger">Deletar</button></td>
      </tr>
    </tbody>
  </table>
