<p>Cadastro de categoria de produtos</p>
<form class="row g-3" [formGroup]="catProdForm">
      
  <input type="hidden" id="empresa" name="empresa" formControlName="empresa">
    <div class="col-2">
      <label for="id" class="form-label">ID</label>
      <input type="text" class="form-control" id="id" readonly name="id" placeholder="ID" formControlName="id">
    </div>
    <div class="col-10">
      <label for="inputAddress2" class="form-label">Categoria</label>
      <input type="text" maxlength="100" class="form-control" id="nomeDesc" name="nomeDesc" required placeholder="nomeDesc" formControlName="nomeDesc">
      <div *ngIf="catProdForm.get('nomeDesc')?.errors" style="font-size: 8px;color: brown;">* Categoria</div>
    </div>
   
    <div class="col-12">
      <button type="submit" class="btn btn-primary" (click)="cadProdCategoria()" [disabled]="!catProdForm.valid">Salvar</button>
    </div>
  </form>

  <table class="table">
    <thead>
      <tr>        
        <th scope="col">ID</th>               
        <th scope="col">Nome</th>
        <th scope="col">Editar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let c of lista">
        <td>{{c.id}}</td>
        <td>{{c.nomeDesc}}</td>
        <td><button type="button" class="btn btn-primary"(click)="editarCategoriaProduto(c)">Editar</button></td>
      </tr>
    </tbody>
  </table>
